.gradle/
.kotlin/
build/
gradle/gradle-8.9-bin.zip
app/build/
local.properties
*.iml
.idea/
.DS_Store
captures/
*.apk
*.ap_
*.dex

app/build/
local.properties
*.iml
.idea/
.DS_Store
captures/
*.apk
*.ap_
*.dex
